services:
  nordvpn-meshnet:
    image: ghcr.io/rickyking/nordvpn-meshnet:latest
    container_name: nordvpn-meshnet
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      # SYS_MODULE may be needed if /dev/net/tun is not available and needs to be inserted,
      # but usually on Synology loading the module on host is preferred.
      # - SYS_MODULE 
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - PUID=${PUID:-1026}
      - PGID=${PGID:-100}
      - TZ=${TZ:-Etc/UTC}
      - NORDVPN_TOKEN=${NORDVPN_TOKEN}
      - NORDVPN_TOKENFILE=${NORDVPN_TOKENFILE}
      - NORDVPN_MESHNET_DEBUG=${NORDVPN_MESHNET_DEBUG}
      - NORDVPN_HEALTHCHECK_INTERVAL=${NORDVPN_HEALTHCHECK_INTERVAL}
      - NORDVPN_HEALTHCHECK_URL=${NORDVPN_HEALTHCHECK_URL}
      - NORDVPN_NICKNAME=${NORDVPN_NICKNAME}
      - NORDVPN_DENY_PEER_ROUTING=${NORDVPN_DENY_PEER_ROUTING}
      - NORDVPN_DENY_PEER_LOCAL=${NORDVPN_DENY_PEER_LOCAL}
      - NORDVPN_DENY_PEER_FILESHARE=${NORDVPN_DENY_PEER_FILESHARE}
      - NORDVPN_DENY_PEER_REMOTE=${NORDVPN_DENY_PEER_REMOTE}
      - NORDVPN_ALLOW_PEER_ROUTING=${NORDVPN_ALLOW_PEER_ROUTING}
      - NORDVPN_ALLOW_PEER_LOCAL=${NORDVPN_ALLOW_PEER_LOCAL}
      - NORDVPN_ALLOW_PEER_FILESHARE=${NORDVPN_ALLOW_PEER_FILESHARE}
      - NORDVPN_ALLOW_PEER_REMOTE=${NORDVPN_ALLOW_PEER_REMOTE}
    volumes:
      # Persist NordVPN state (keys, config)
      - ./nordvpn_data:/var/lib/nordvpn
    network_mode: bridge
    # ports:
    #   - 8080:80 # If you want to use this as a gateway for other services
