services:
  nordvpn-meshnet:
    image: ghcr.io/rickyking/nordvpn-meshnet:latest
    container_name: nordvpn-meshnet
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_MODULE 
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file:
      - .env
    volumes:
      # Persist NordVPN state (keys, config)
      - ./nordvpn_data:/var/lib/nordvpn
      - /lib/modules:/lib/modules:ro
    hostname: nordvpn-synology-nas    # Make sure hostname is set! Without it, every restart will add a new peer to your Meshnet.
    network_mode: bridge
    privileged: true
    # ports:
    #   - 8080:80 # If you want to use this as a gateway for other services



