services:
  nordvpn-meshnet:
    image: ghcr.io/rickyking/nordvpn-meshnet:latest
    container_name: nordvpn-meshnet
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      # SYS_MODULE may be needed if /dev/net/tun is not available and needs to be inserted,
      # but usually on Synology loading the module on host is preferred.
      # - SYS_MODULE 
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file:
      - .env
    volumes:
      # Persist NordVPN state (keys, config)
      - ./nordvpn_data:/var/lib/nordvpn
    hostname: kingnas    # Make sure hostname is set! Without it, every restart will add a new peer to your Meshnet.
    network_mode: bridge
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    privileged: true
    # ports:
    #   - 8080:80 # If you want to use this as a gateway for other services

